# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [2]:
import pandas as pd
import numpy as np

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [3]:
path = 'apple_store.csv'

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [4]:
data = pd.read_csv(path)

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [5]:
data.head(5)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

#### 5. Print the summary of the data.

In [6]:
# is this the summary?
data.describe()

,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
count,7.197000e+03,7.197000e+03,7197.000000,7.197000e+03,7197.000000,7197.000000,7197.000000
mean,8.631310e+08,1.991345e+08,1.726218,1.289291e+04,460.373906,3.526956,3.253578
std,2.712368e+08,3.592069e+08,5.833006,7.573941e+04,3920.455183,1.517948,1.809363
min,2.816565e+08,5.898240e+05,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,6.000937e+08,4.692275e+07,0.000000,2.800000e+01,1.000000,3.500000,2.500000
50%,9.781482e+08,9.715302e+07,0.000000,3.000000e+02,23.000000,4.000000,4.000000
75%,1.082310e+09,1.819249e+08,1.990000,2.793000e+03,140.000000,4.500000,4.500000
max,1.188376e+09,4.025970e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000

#### 6. Print the number of columns in the data.

In [7]:
print(len(data.columns))

9

#### 7. Print all column names.

In [8]:
print(data.columns)

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

#### 8. Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [9]:
print(len(data['id']))

7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a variable named `user_rating`.

In [10]:
# Why is this step necessary? Why do we need the Series?
user_rating = data['user_rating']

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [11]:
user_rating.mean()

# We could've just calculated the mean like this. No need for the extra step of assigning to a variable
data['user_rating'].mean()

3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [12]:
#user_rating = data[user_rating >=4] - this works too, but seems different from what i'm using to seeing
# so i think i prefer the other way
user_rating_high = data[data['user_rating'] >= 4]

user_rating_high

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [13]:
len(user_rating_high)

4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [14]:
genres = data['prime_genre'].unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [15]:
len(genres)

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [16]:
data['prime_genre'].value_counts()[:3]

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [17]:
free_apps = data[data['price'] == 0.00]
free_apps['prime_genre'].value_counts()

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [18]:
proportion = (free_apps['prime_genre'].value_counts()/data['prime_genre'].value_counts())\
.sort_values(ascending = False)
proportion

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [19]:
# doing a groupby to get everything I need, the mean and sorting
dev_money = data.groupby('prime_genre', as_index = False).agg({'price':'mean'})\
.sort_values(by = 'price', ascending = False)

# renaming the columns to match desired output
dev_money.columns = ['Genre', 'Average Price']

# resetting the index to make it pretty
dev_money.reset_index(inplace = True, drop = True)
dev_money

                Genre  Average Price
0             Medical       8.776087
1            Business       5.116316
2           Reference       4.836875
3               Music       4.835435
4        Productivity       4.330562
5          Navigation       4.124783
6           Education       4.028234
7    Health & Fitness       1.916444
8                Book       1.790536
9           Utilities       1.647621
10            Weather       1.605417
11       Food & Drink       1.552381
12      Photo & Video       1.473295
13              Games       1.432923
14             Travel       1.120370
15             Sports       0.953070
16      Entertainment       0.889701
17          Lifestyle       0.885417
18           Catalogs       0.799000
19               News       0.517733
20            Finance       0.421154
21  Social Networking       0.339880
22           Shopping       0.016311

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [49]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [50]:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [51]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    return x / 24

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [52]:
# Had to do this because I was going crazy writing the wrong col names and getting out of index error or w/e
# These letters are quite tricky, had to copy and paste the names lol
pm25.columns

Index(['No', 'year', 'month', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES',
       'cbwd', 'Iws', 'Is', 'Ir'],
      dtype='object')

In [53]:
# are we supposed to do it like this? Or to overwrite the older values with these new ones into the whole
# dataframe?
pm25_hourly = pm25[['Iws', 'Is', 'Ir']].apply(hourly)
pm25_hourly.head()

        Iws   Is   Ir
0  0.074583  0.0  0.0
1  0.205000  0.0  0.0
2  0.279583  0.0  0.0
3  0.410000  0.0  0.0
4  0.540417  0.0  0.0

In [54]:
# I guess like this we get the whole DF with the new values into the selected columns
# but I don't quite get the logic behind this one. When I call 'pm25_hourly_test[['Iws', 'Is', 'Ir']]'
# does this mean I'm only calling this part of the DF, but the rest is still there? And when I call 
# the general pm25_hourly_test it returns the whole DF but now with that previous section changed?
pm25_hourly_test = pm25
pm25_hourly_test[['Iws', 'Is', 'Ir']] = pm25_hourly_test[['Iws', 'Is', 'Ir']].apply(hourly)
pm25_hourly_test

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,0.074583,0.0,0.0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,0.205000,0.0,0.0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,0.279583,0.0,0.0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,0.410000,0.0,0.0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,0.540417,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,9.665417,0.0,0.0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,9.907500,0.0,0.0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,10.112500,0.0,0.0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,10.280000,0.0,0.0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,10.410417,0.0,0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [55]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    return np.std(x) / (x.count() - 1)

In [56]:
pm25[['DEWP', 'TEMP', 'PRES']].apply(sample_sd)

DEWP    0.000329
TEMP    0.000278
PRES    0.000234
dtype: float64