# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [194]:
# your code here

import numpy as np
import pandas as pd

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [195]:
# your code here

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [196]:
# your code here

apple_store_df = pd.read_csv('/Users/GiadaSartori/Documents/IRONHACK/Lab/Week3/lab-pandas-deep-dive/your-code/apple_store.csv')
display(apple_store_df)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [197]:
# your code here

apple_store_df.head(5)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

#### 5. Print the summary of the data.

The **info() method** prints a summary of information about a DataFrame object which include

1) The class name of the DataFrame
2) The RangeIndex of the DataFrame
3) Number of Data Columns
4) Number of non-null objects in each of the data column
5) The data type of the DataFrame. In case when the DataFrame stores heterogeneous objects then object is returned as the type.
5) The memory usage:
- An estimate is given by default based on the column dtype
- If the value of memory_usage parameter passed is â€˜deepâ€™ then the exact memory usage is returned.

In [198]:
# your code here

apple_store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

#### 6. Print the number of columns in the data.

In [199]:
# your code here

#In general, we can see the shape of our dataframe by using data.shape --> our dataframe consists of 7197 rows Ã— 9 columns

#When targeting the rows of our dataframe, we can use len(data.index) to see the number of rows in the data

#When targeting the columns of our dataframe, we can use len(data.columns)

len(apple_store_df.columns)

9

#### 7. Print all column names.

In [200]:
# your code here

column_names = list(apple_store_df.columns)
column_names #--> this is a list

['id',
 'track_name',
 'size_bytes',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'prime_genre']

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [201]:
# your code here

#apple_store_df['track_name'].value_counts() --> the result is 7195

apps_count = apple_store_df['id'].value_counts()
len(apps_count)

print("The total amout of apps in the data source is", len(apps_count))

The total amout of apps in the data source is 7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [202]:
# your code here

user_rating = apple_store_df[['user_rating']]
user_rating

      user_rating
0             4.0
1             4.0
2             3.5
3             4.0
4             4.5
...           ...
7192          4.5
7193          4.5
7194          4.5
7195          4.5
7196          5.0

[7197 rows x 1 columns]

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [203]:
# your code here

user_rating = apple_store_df['user_rating'].mean()
print("The average rating of all apps is", user_rating)

The average rating of all apps is 3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [204]:
# your code here

user_rating_high_df = apple_store_df[apple_store_df["user_rating"]>=4]
user_rating_high_df

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [205]:
user_rating_high_df.shape #--> the shape of the dataframe user_rating_high is 4781 rows, and 9 columns

# We verify if the shape of dataframes apple_store and user_rating_high are equal or not

user_rating_high_df.shape == apple_store_df.shape

False

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [206]:
# your code here

genres = apple_store_df[['prime_genre']]
genres

       prime_genre
0            Games
1     Productivity
2          Weather
3         Shopping
4        Reference
...            ...
7192         Games
7193         Games
7194     Utilities
7195         Games
7196         Games

[7197 rows x 1 columns]

Print the length of the unique values of `genres`. Your code should return 23.

In [207]:
# your code here

unique_values_genres = apple_store_df['prime_genre'].unique()
unique_values_genres

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

In [208]:
len(unique_values_genres)

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [209]:
# your code here

count_genres = apple_store_df['prime_genre'].value_counts()
count_genres.head(3)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [246]:
# your code here

# Check which track_name has a price of 0.00

free_apps_df = apple_store_df[apple_store_df["price"] == 0]
free_apps_df

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
1,281796108,Evernote - stay organized,158578688,0.0,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.0,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.0,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.0,985920,5320,4.5,5.0,Reference
6,283646709,PayPal - Send and request money safely,227795968,0.0,119487,879,4.0,4.5,Finance
...,...,...,...,...,...,...,...,...,...
7188,1186384912,Demolition Derby Virtual Reality (VR) Racing,168774656,0.0,18,18,4.0,4.0,Games
7192,1187617475,Kubik,126644224,0.0,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.0,30,30,4.5,4.5,Games
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.0,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.0,3,3,5.0,5.0,Games

In [247]:
count_free_apps = free_apps_df['prime_genre'].value_counts()
count_free_apps

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [248]:
# your code here

proportion = (count_free_apps / count_genres).sort_values(ascending= False)
proportion

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [249]:
# We know that the agg() method is an alias of the aggregate() method --> e.g., x = df.agg(["sum"])

tot_average_price = apple_store_df["price"].agg(["mean"])

print("The total average price of the app is", tot_average_price)

The total average price of the app is mean    1.726218
Name: price, dtype: float64

In [257]:
#1. We want to find the average price grouped by genre, and order it by highest average price by genre

aver_price_genre_df = (apple_store_df.groupby('prime_genre', as_index=False).agg({'price':'mean'})).sort_values(by='price', ascending=False)
aver_price_genre_df

          prime_genre     price
10            Medical  8.776087
1            Business  5.116316
16          Reference  4.836875
11              Music  4.835435
15       Productivity  4.330562
12         Navigation  4.124783
3           Education  4.028234
8    Health & Fitness  1.916444
0                Book  1.790536
21          Utilities  1.647621
22            Weather  1.605417
6        Food & Drink  1.552381
14      Photo & Video  1.473295
7               Games  1.432923
20             Travel  1.120370
19             Sports  0.953070
4       Entertainment  0.889701
9           Lifestyle  0.885417
2            Catalogs  0.799000
13               News  0.517733
5             Finance  0.421154
18  Social Networking  0.339880
17           Shopping  0.016311

In [262]:
#Rename the column name 'price' to 'average_price'

aver_price_genre_df.rename(columns = {'price': 'average_price'}, inplace = True)
aver_price_genre_df

          prime_genre  average_price
10            Medical       8.776087
1            Business       5.116316
16          Reference       4.836875
11              Music       4.835435
15       Productivity       4.330562
12         Navigation       4.124783
3           Education       4.028234
8    Health & Fitness       1.916444
0                Book       1.790536
21          Utilities       1.647621
22            Weather       1.605417
6        Food & Drink       1.552381
14      Photo & Video       1.473295
7               Games       1.432923
20             Travel       1.120370
19             Sports       0.953070
4       Entertainment       0.889701
9           Lifestyle       0.885417
2            Catalogs       0.799000
13               News       0.517733
5             Finance       0.421154
18  Social Networking       0.339880
17           Shopping       0.016311

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [266]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

In [268]:
display(pm25)

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

Let's look at the data using the head() function.

In [267]:
# Your code here:

pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [298]:
def hourly(x):

        '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
        return x/y


pm25_hourly = list(map(hourly,pm25['hour']))
pm25_hourly

[0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 0.6666666666666666,
 0.7083333333333334,
 0.75,
 0.7916666666666666,
 0.8333333333333334,
 0.875,
 0.9166666666666666,
 0.9583333333333334,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.125,
 0.16666666666666666,
 0.20833333333333334,
 0.25,
 0.2916666666666667,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4583333333333333,
 0.5,
 0.5416666666666666,
 0.5833333333333334,
 0.625,
 ...]

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [302]:
# Your code here:

#1. We define a generic function that divides a numeric value by 24
#2. We apply the generic function to specific columns of the datasets, which are hour, Iws, Is, and Ir

pm25[['hour', 'Iws', 'Is', 'Ir']].apply(hourly)

           hour        Iws   Is   Ir
0      0.000000   0.074583  0.0  0.0
1      0.041667   0.205000  0.0  0.0
2      0.083333   0.279583  0.0  0.0
3      0.125000   0.410000  0.0  0.0
4      0.166667   0.540417  0.0  0.0
...         ...        ...  ...  ...
43819  0.791667   9.665417  0.0  0.0
43820  0.833333   9.907500  0.0  0.0
43821  0.875000  10.112500  0.0  0.0
43822  0.916667  10.280000  0.0  0.0
43823  0.958333  10.410417  0.0  0.0

[43824 rows x 4 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [354]:
 # Your code here:

x = pd.Series([1,2,3,4])

def sample_sd(x):

    #std = sqrt(mean(x))
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    return np.std(x) / (x.count() -1)

sample_sd(x)


print("The standard deviation of our series is", sample_sd(x))

The standard deviation of our series is 0.37267799624996495